{% extends 'main/loyaut.html' %}

{% block title %}{{products.title}}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4">
            <h2 style="color: #fff; padding-top: 10px; text-align:center;">{{products.title}}</h2>
            <img src="{{products.image.url}}" class="img-fluid" style="padding-top: 20px;">
        </div>
        <div class="col-md-8" style="color: #fff;">
            <nav aria-label="breadcrumb" style="padding-top: 10px;">
                <ol class="breadcrumb" style="padding-right: 30%; padding-left: 30%;">
                  <li class="breadcrumb-item"><a href="{% url 'shop_home' %}">SHOP</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'shop_home' %}category/{{ products.category.slug }}">{{ products.category.name }}</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{products.title}}</li>
                </ol>
            </nav>
            <p>Ціна: {{products.price}} грн.</p>
            <p>Опис: {{products.description}}</p>
        </div>
        <p class="mt-4" style="color:#fff; padding-left: 15px">Характеристики: </p>
        {% if products.category.slug == 'smartphone' %}
            {% include 'shop/smartphone_specification.html' %}
        {% else %}
            {% include 'shop/cpu_specification.html' %}
        {% endif %}
    </div>
{% endblock %}