<table class="table table-striped" style="color: #fff">
  <tbody>
    <tr>
      <td>Діагональ екрану</td>
      <td>{{products.diagonal}}</td>
    </tr>
    <tr>
      <td>Тип дисплею</td>
      <td>{{products.display_type}}</td>
    </tr>
    <tr>
      <td>Розширення екрану</td>
      <td>{{products.reslution}} px</td>
    </tr>
    <tr>
      <td>Об'єм акумулятора</td>
      <td>{{products.accum_volume}} Mah</td>
    </tr>
    <tr>
      <td>Оперативна пам'ять</td>
      <td>{{products.ram}} Gb</td>
    </tr>
    <tr>
    <tr>
      <td>Наявність SD-карти</td>
      <td>
        {% if products.sd == True %}
          +
        {% else %}
          -
        {% endif %}
      </td>
    </tr>
    <tr>
      {% if products.sd == True %}
        <td>Максимальний об'єм SD-карти</td>
        <td>{{products.sd_volume_max}} Gb</td>
      {% endif %}
    </tr>
    <tr>
      <td>Основна камера</td>
      <td>{{products.main_cam_mp}} Mp</td>
    </tr>
    <tr>
      <td>Фронтальна камера</td>
      <td>{{products.frontal_cam_mp}} Mp</td>
    </tr>

  </tbody>
</table>
